@import "tailwindcss";

:root {
  --color-blue-primary: #1D3070;
  --color-navy: #0F162E;
  --color-text-dark: #222222;
  --color-text-gray: #686869;
  --color-text-light-gray: #8A8A8B;
}

body {
  background-color: #fff;
  color: var(--color-text-dark);
}

/* 가로 스크롤 스크롤바 숨김 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
